<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAttendance"
        tools:targetApi="31">
        <activity
            android:name=".updateTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".RemoveUserActivity"
            android:exported="false" />
        <activity
            android:name=".viewTechActivity"
            android:exported="false" />
        <activity
            android:name=".ViewStudeActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPdfActivity"
            android:exported="false" />
        <activity
            android:name=".PDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".pdfUploadActivity"
            android:exported="false" />
        <activity
            android:name=".ViewMessageActivity"
            android:exported="false" />
        <activity
            android:name=".sendMessActivity"
            android:exported="false" />
        <activity
            android:name=".stDetailAttActivity"
            android:exported="false" />
        <activity
            android:name=".StudAttViewActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateStudInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".TakeAttSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".AddSubActivity"
            android:exported="false" />
        <activity
            android:name=".AddTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".TeachDataActivity"
            android:exported="false" />
        <activity
            android:name=".StudDataActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".StudentActivity"
            android:exported="false" />
        <activity
            android:name=".AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>